<br>
<form class="center" action="fileupload" method="post" enctype="multipart/form-data">
    <span class="btn btn-file">
        <i class="material-icons left">more_horiz</i>
        Browse<input type="file" name="uploads" multiple>
    </span>
    <span class="btn btn-submit">
        <i class="material-icons left">cloud_upload</i>
        Upload Files<input type="submit">
    </span>
</form>